<section class="main-container" fxFlexFill>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a [routerLink]="['/']" class="custom-logo-link" rel="home"><img src="assets/images/5loop_logo.png"
              class="custom-logo jetpack-lazy-image jetpack-lazy-image--handled"
              alt="Buy Android Apps &amp; Games Source Code – Reskin Services" data-lazy-loaded="1" width="256"
              height="90"></a>
        </div>
        <div class="col-md-9 text-right">
          <ul class="header-list">
            <li class="search">
              <form class="search-form">
                <input class="search-input" type="text" value="" name="" placeholder="Search...">
                <button class="search-button"><i class="fa fa-search"></i></button>
              </form>
            </li>
            <li><a class="button button-red contact-top" [routerLink]="['/contact-us']">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <section class="main-container" fxFlexFill>
    <router-outlet></router-outlet>
  </section>

  <footer class="footer">
    <div class="container">
      <!-- Get Copyright Text -->
      <div class="row">
        <div class="col-md-4 offset-md-1 copy-right">
          <a href="http://www.5loops.net">
            <div class="mcg-logo"></div>
          </a>Bản quyền © 2020 thuộc về <strong><a href="http://www.5loops/net">Five Loops Team</a></strong>. <br> Email
          <strong></strong> fiveloops@outlook.com
        </div>
        <div class="col-md-4 offset-md-2 other-link">
          <ul class="list-link">
            <li><a [routerLink]="['/privacy']">Privacy Policy</a></li>
            <li><a [routerLink]="['/term-of-service']">Term & condition</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>