<section class="main-container" fxFlexFill>
  <!-- <button onclick="topFunction()" id="backTop" title="Go to top">Top</button> -->
  <!-- Header Start -->
  <header class="site-header ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xl-2 col-md-3">
          <div class="logo">
            <a [routerLink]="['']" class="custom-logo-link" rel="home"><img src="assets/images/5loop_logo.png"
                class="custom-logo jetpack-lazy-image jetpack-lazy-image--handled"
                alt="Buy Android Apps &amp; Games Source Code – Reskin Services" data-lazy-loaded="1" width="256"
                height="90"></a>
          </div>
        </div>
        <div class="col-xl-10 col-md-9">
          <div class="primary-menu d-none d-lg-inline-block float-right">
            <nav class="desktop-menu">
              <ul id="menu-menu-chinh" class="menu">
                <li id="menu-item-2517"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-70 current_page_item menu-item-2517">
                  <a [routerLink]="['']" aria-current="page">Home</a></li>
                <li id="menu-item-2518" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2518">
                  <a [routerLink]="['/shop']">App Templates</a></li>
                <li id="menu-item-2855" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2855">
                  <a [routerLink]="['/pricing-plan']">Reskin &amp; Design</a></li>
                <li id="menu-item-2825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2825">
                  <a [routerLink]="['/privacy']">Privacy policy</a></li>
                <li id="menu-item-2825" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2825">
                  <a [routerLink]="['/term-of-service']">Term &amp; condition</a></li>
                <li id="menu-item-2827" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2827">
                  <a [routerLink]="['/contact-us']">Contact us</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Banner START -->


  <section class="main-container" fxFlexFill>
    <router-outlet></router-outlet>
  </section>
</section>