<!-- <div class="product-title">
  <div class="container">
    <div class="section-title text-left">
      <h1>All products</h1>
    </div>
    <div class="row"></div>
  </div>
</div> -->

<div class="featured list-item" style="padding-top:70px;">
  <div class="container">
    <div class="featured list-item">
      <div class="search-product">
        <div fxLayout="row" fxLayoutGap="10px">
          <mat-form-field fxFlex>
            <input type="text" name="search" matInput placeholder="Search product..." [(ngModel)]="query"
              (keyup.enter)="search(query)" />
          </mat-form-field>
          <div fxLayoutAlign="end center">
            <mat-paginator [pageSizeOptions]="[3, 6, 9, 12]" [length]="total" [pageSize]="quantity"
              style="background-color: transparent;" showFirstLastButtons>
            </mat-paginator>
          </div>
        </div>
      </div>
      <div class="container">
        <ul class="row list-item">
          <li class="col-md-4" fxLayout="row" *ngFor="let item of models">
            <div class="item">
              <div class="item-image">
                <img src="{{url}}/{{item.banner}}" (click)=" detail(item.code)">
                <div class="item-label">
                  <span class="item-badge android" *ngIf="item.is_android"></span>
                  <span class="item-badge unity" *ngIf="item.is_unity"></span>
                  <span class="item-badge admob" *ngIf="item.is_admob"></span>
                </div>
              </div>
              <div class="item-info">
                <h3>{{ item.name }}</h3>
              </div>
              <div class="item-action">
                <a (click)=" detail(item.id)" class="button button-red item-button">${{item.price}}</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>