@import "./app/styles/marterial";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  scroll-behavior: smooth;
  background-color: #f1f1f1;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
  color: #1b1c1d;
  font-size: 16px;
  // background-color: #ffffff;
  background-color: #edeff0 !important;
}
p {
  font-weight: 400;
  margin: 0;
  color: #1b1c1d;
  line-height: 20px;
  margin: 16px 0;
}
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #ff766f;
  }
}
b {
  color: #333;
}
img {
  width: 100%;
  height: auto;
}
hr {
  border: 1px solid #ececec;
  border-width: 0.5px;
  margin: 24px 0;
}
h1 {
  font-weight: 500;
}
h2 {
  font-weight: 500;
}
ul {
  margin: 0;
  li {
    list-style: none;
  }
}
.clearfix {
  overflow: auto;
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 64px;
}
.button {
  display: block;
  height: 48px;
  width: 140px;
  border-radius: 24px;
  line-height: 48px;
  text-align: center;
  text-decoration: none !important;
  background-color: #ededed;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 1px 2px 8px 0 rgba(27, 28, 29, 0.14);
  &:hover {
    color: #fff;
    opacity: 0.9;
  }
  &:active {
    color: #fff;
    opacity: 0.9;
  }
}
.button.button-red {
  background-color: #ff766f;
}
.button.button-green {
  background-color: #66c559;
}
.button-more {
  margin: 0 auto;
  width: 240px;
  margin-bottom: 100px;
}
.section {
  margin-bottom: 70px;
}
#backTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 32px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff766f;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
.header {
  background: #1f2123;
  padding: 8px 0;
  .custom-logo-link {
    display: block;
    img {
      height: 60px;
      width: auto;
    }
  }
}
.header-list {
  margin: 0 auto;
  margin-top: 2px;
  li {
    display: inline-block;
  }
  .search {
    margin-right: 32px;
    .search-input {
      border-radius: 16px;
      width: 320px;
      height: 52px;
      line-height: 52px;
      font-size: 16px;
      padding-right: 52px;
      padding-left: 16px;
      border: 1px solid #ededed;
      box-shadow: 1px 2px 8px 0 rgba(27, 28, 29, 0.14);
    }
    .search-button {
      position: absolute;
      right: 2px;
      top: 2px;
      display: block;
      width: 48px;
      height: 48px;
      line-height: 48px;
      border: none;
      border-left: 1px solid #ededed;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
      background: none;
    }
  }
  .search-form {
    position: relative;
  }
  .contact-top {
    height: 52px;
    width: 140px;
    border-radius: 30px;
    line-height: 52px;
  }
}
.footer {
  background: #1f2123;
  padding: 32px 0;
  color: #fff;
}
.banner {
  width: 100%;
}
.list-banner {
  margin: 0;
  padding: 0;
  li {
    display: inline-block;
    margin: 0px;
    width: 33%;
  }
}
.title-section {
  padding: 8px 0;
  border-bottom: 1px solid #ededed;
  margin-bottom: 16px;
  .title-more {
    float: right;
    color: #f97e78;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
  }
}

.title-section {
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #1b1c1d;
    letter-spacing: 0.2;
  }
}
.list-item {
  padding-left: 0;
  .item {
    background: #ffffff;
    border: 1px solid #ededed;
    box-shadow: 1px 4px 8px 0 rgba(27, 28, 29, 0.14);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 32px;
    h3 {
      display: block;
      height: 36px;
      box-sizing: border-box;
      overflow: hidden;
      float: left;
      font-size: 16px;
      line-height: 18px;
      font-weight: 600;
      margin-bottom: 0;
      width: calc(100% - 60px);
    }
  }
  .item-info {
    display: block;
    height: 68px;
    padding: 16px;
  }
}
.item-rate {
  width: 60px;
  float: right;
  i {
    color: #ffd559;
    font-size: 12px;
    margin-left: -3px;
  }
}
.item-action {
  padding: 16px;
  box-sizing: border-box;
  .item-button {
    width: 100%;
  }
}
.item-image {
  position: relative;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.item-label {
  position: absolute;
  top: 8px;
  right: 8px;
}
.item-badge {
  display: block;
  width: 40px;
  height: 40px;
  float: right;
  margin-left: 4px;
  background-image: url("assets/images/icon_android.png");
  background-size: contain;
  box-shadow: 1px 2px 4px 0 rgba(27, 28, 29, 0.1);
}
.item-badge.unity {
  background-image: url("assets/images/icon_unity.png");
}
.item-badge.admob {
  background-image: url("assets/images/icon_admob.png");
}
@media only screen and (max-width: 1024px) {
  .menu {
    padding: 0 8px;
    li {
      padding-left: 8px;
      padding-right: 8px;
    }
    .logo {
      margin-right: 4px;
    }
  }
}

.mat-snack-bar-container {
  &.success {
    background-color: #28a745;
  }
  &.info {
    background-color: #17a2b8;
  }
  &.warning {
    background-color: #ffc107;
  }
  &.error {
    background-color: #dc3545;
  }
}

.mat-label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 85%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  &.mat-label-info {
    background-color: #17a2b8;
  }
  &.mat-label-success {
    background-color: #28a745;
  }
  &.mat-label-error {
    background-color: #dc3545;
  }
  &.mat-label-warning {
    background-color: #ffc107;
  }
  &.mat-label-basic {
    background-color: #ff7867;
  }
  &.mat-label-medium {
    background-color: #ffb35f;
  }
  &.mat-label-quite {
    background-color: #9adce7;
  }
  &.mat-label-proficient {
    background-color: #60a1e5;
  }
  &.mat-label-expert {
    background-color: #5cb642;
  }
}

.tenjin-icon-button {
  &.red {
    color: #dc3545;
  }
  &.green {
    color: #28a745;
  }
  &.blue {
    color: #17a2b8;
  }
  &.orange {
    color: #ffc107;
  }
  &.purple {
    color: #8b008b;
  }
}
.main-container {
  padding: 0 !important;
  max-height: none !important;
}
.search-product {
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.item {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
h1 {
  font-weight: 700;
}

.bg-fff {
  background-color: #fff !important;
}
.cl-pink {
  color: #fff !important;
  background-color: #dc3545 !important;
}
button.cl-pink {
  background-color: #dc3545 !important;
  min-height: 50px !important;
  min-width: 200px !important;
  font-size: 20px !important;
}

.newest-filter {
  text-align: center;
}
.sit-preview {
  width: 86px;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.newest_items {
  .sit-preview {
    width: 86px;
    display: inline-block;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.left-section {
  background-color: #fff;
  padding: 30px;
}
.footer-widgets {
  border-top: 1px solid #ccc;
  padding: 120px 0 40px;
  background: #fafafa;
  overflow: hidden;
  .col-xl-2.col-lg-4.col-md-3.col-sm-6 {
    .footer-widget.widget_search {
      input[type="search"] {
        width: 100%;
      }
      input[type="submit"] {
        display: none;
      }
    }
    .sub-menu {
      margin-left: 0.5em;
    }
  }
}
.footer-widget {
  margin-bottom: 50px;
  .widget-title {
    margin-bottom: 20px;
    border-bottom: 0;
    padding-bottom: 0;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  ol {
    list-style: none;
    padding-left: 0;
  }
  > ul {
    margin: 0;
    padding: 0;
  }
  > ol {
    margin: 0;
    padding: 0;
  }
  li {
    font-size: 15px;
    line-height: 35px;
  }
  .about-site-widget {
    img {
      margin-bottom: 20px;
    }
    p {
      color: #cfcfcf;
    }
  }
  .widget-site-social {
    a {
      margin-right: 15px;
    }
  }
}
.footer-social {
  ul {
    li {
      display: inline-block;
      margin-right: 5px;
      padding-left: 0 !important;
      margin-bottom: 0 !important;
    }
  }
}
.footer-widget.widget_calendar {
  th {
    padding: 0;
    text-align: center;
  }
  td {
    padding: 0;
    text-align: center;
  }
}
.copyright-bar {
  color: #fff;
  padding: 20px 0;
  background: #333;
  a {
    margin-bottom: 0;
    color: #ddd;
  }
  p {
    margin-bottom: 0;
    color: #ddd;
    a {
      font-weight: bold;
    }
  }
  ul {
    li {
      margin-right: 20px !important;
      &:last-child {
        margin-right: 0 !important;
      }
    }
  }
}
.copyright-social-icons {
  text-align: right;
}

.border-10 {
  border-radius: 10px;
  overflow: hidden;
}

.item-price {
  span {
    font-size: 20px;
    font-weight: 700;
    color: #ff416c;
  }
  .offprice {
    color: #b8b8b8 !important;
    text-decoration: line-through;
    .item-currency {
      color: #b8b8b8 !important;
      text-decoration: line-through;
    }
  }
}
.preview-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  li {
    a {
      padding: 12px 20px;
      border-radius: 50px;
      display: inline-block;
      width: 170px;
      border: 1px solid;
      color: #ff416c !important;
      font-size: 20px;
      font-weight: 700;
      border-color: #ff416c;
      transition: all 0.3s ease 0s;
      vertical-align: middle;
      pointer-events: cursor;
      text-decoration: none;
    }
  }
}
.product-title {
  position: relative;
  color: #fff;
  padding: 40px 0;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  margin-bottom: 70px;
  h1 {
    font-weight: 700;
  }
}

.product-subdetail {
  .item-price {
    span {
      font-size: 36px;
      color: #212529;
      font-weight: 700;
    }
  }
}

.right-section {
  background-color: #fff;
  padding: 30px;
}

.widget-product-details {
  text-align: right;
  background-color: #fff;
  padding: 30px;
  .widget-price {
    p {
      font-weight: bold;
      font-size: 34px;
      color: #333;
      del {
        font-size: 24px;
        color: red;
      }
      ins {
        text-decoration: none;
        display: block;
      }
    }
  }
  select {
    text-align: center;
    border-radius: 50px;
    height: 50px;
    margin-bottom: 20px;
    width: 185px;
  }
  input[type="number"] {
    text-align: center;
    border-radius: 50px;
    height: 50px;
    margin-bottom: 20px;
    width: 185px;
  }
  .widget-add-to-cart {
    table {
      text-align: center;
      td {
        display: block;
      }
    }
    .tijarah-btn {
      margin-top: 15px;
    }
    #pa_license {
      &:focus {
        outline: none;
      }
      padding: 0 15px;
    }
    .woocommerce-Price-amount {
      font-size: 22px;
      color: #333;
      font-weight: 500;
      display: inline-block;
      margin-bottom: 10px;
    }
    .reset_variations {
      display: none !important;
    }
    .woocommerce-variation-description {
      text-align: left;
    }
  }
  .widget-rating {
    .star-rating {
      margin: 0 auto 15px;
    }
  }
  .download-sale {
    position: relative;
  }
  .product-sidebar-stats {
    margin-top: 30px;
    margin-bottom: 40px;
    li {
      background: #f5f5f5;
      padding: 15px;
      border-radius: 6px;
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
      span {
        color: #333;
        font-weight: 500;
      }
    }
  }
  .nice-select {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 50px;
    margin-bottom: 15px;
  }
}
