<div class="section banner">
  <!-- <ul class="list-banner">
    <li><img class="banner-image" src="assets/images/banner-1.png"></li>
    <li><img class="banner-image" src="assets/images/banner-2.png"></li>
    <li><img class="banner-image" src="assets/images/banner-3.png"></li>
  </ul> -->
  <div [style.height]="'auto'">
    <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="primary" maxWidth="auto"
      proportion="25" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="false"
      [useMouseWheel]="true" orientation="ltr">
      <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.image"
        overlayColor="#00000000" [hideOverlay]="true"></mat-carousel-slide>
    </mat-carousel>
  </div>
</div>

<div class="section featured">
  <div class="container">
    <div class="title-section">
      <h3>Featured Items <span class="title-more" (click)="view_more()">View More</span></h3>
    </div>
    <ul class="row list-item">
      <li class="col-md-4" fxLayout="row" *ngFor="let item of tops">
        <div class="item">
          <div class="item-image">
            <img src="{{url}}/{{item.banner}}" (click)=" detail(item.code)">
            <div class="item-label">
              <span class="item-badge android" *ngIf="item.is_android"></span>
              <span class="item-badge unity" *ngIf="item.is_unity"></span>
              <span class="item-badge admob" *ngIf="item.is_admob"></span>
            </div>
          </div>
          <div class="item-info">
            <h3>{{ item.name }}</h3>
          </div>
          <div class="item-action">
            <a (click)=" detail(item.code)" class="button button-red item-button">${{item.price}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="section featured">
  <div class="container">
    <ul class="row list-item">
      <li class="col-md-4" fxLayout="row" *ngFor="let item of posts">
        <div class="item">
          <div class="item-image">
            <img src="{{url}}/{{item.banner}}" (click)=" detail(item.code)">
            <div class="item-label">
              <span class="item-badge android" *ngIf="item.is_android"></span>
              <span class="item-badge unity" *ngIf="item.is_unity"></span>
              <span class="item-badge admob" *ngIf="item.is_admob"></span>
            </div>
          </div>
          <div class="item-info">
            <h3>{{ item.name }}</h3>
          </div>
          <div class="item-action">
            <a (click)=" detail(item.code)" class="button button-red item-button">${{item.price}}</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="container align-center">
  <a class="button button-green button-more" (click)="view_more()">Load More</a>
</div>