<!-- <div class="product-title">
  <div class="container">
    <div class="section-title text-left">
      <h1>{{data.name}}</h1>
    </div>
    <div class="row"></div>
  </div>
</div> -->
<div class="product-view" style="padding-top:68px;">
  <div class="container">
    <div fxLayout="row" fxLayoutGap="15px">
      <div fxLayout="column" fxFlex="70" class="border-10">
        <div class="product-banner">
          <img src="{{url}}/{{data.banner}}" alt="{{data.name}}">
        </div>
        <div class="left-section" fxLayout="column">
          <div class="product-preview">
            <ul class="list-inline preview-btn text-center" fxLayout="row" fxLayoutAlign="center center">
              <li class="list-inline-item"><a (click)="goToLink(data.apk_url)">Apk Demo</a></li>
              <li class="list-inline-item"><a (click)="view()" class="preview-image-popup">Screenshots</a>
              </li>
            </ul>
          </div>
          <div class="product-descrip" fxFlex>
            <mat-tab-group>
              <mat-tab label="Description">
                <span [innerHtml]="data.description"></span>
              </mat-tab>
              <mat-tab label="Additional Information">
                <span [innerHtml]="data.information"></span>
              </mat-tab>
              <mat-tab label="Vendor Infor" layout-fill>
                <span [innerHtml]="data.vendor"></span>
              </mat-tab>
              <mat-tab label="Specification">
                <span [innerHtml]="data.specification"></span>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <div fxFlex="30" class="border-10">

        <div class="widget-product-details right-section">

          <div class="product-subdetail text-left">
            <div class="widget-price">
              <div fxLayoutAlign="space-around center">
                <h3> {{ data.name }}</h3>
              </div>
              <p class="item-price">
                <span class="offprice" *ngIf="data.old_price !== undefined"><span class="item-currency"
                    *ngIf="data.old_price !== undefined">$</span> {{data.old_price}} </span>
                <span><span class="item-currency">$</span>{{data.price}}</span>
              </p>
            </div>
            <a class="sit-preview" href="#">
              <img src="{{url}}/{{data.logo}}" alt="Volume Booster | Sound Booster | Android Source Code">
            </a>
            <div class="widget-rating">
            </div>
            <span [innerHtml]="data.short_description"></span>
          </div>
          <ul class="list-inline text-left product-sidebar-stats">
            <li>
              <i class="fa fa-shopping-cart"></i>
              <span>{{data.sale | number: '1.0-0'}} Sales</span>
            </li>
            <li>
              <i class="fa fa-star"></i>
              <span>{{data.rating}} Ratings</span>
            </li>
            <li>
              <i class="fa fa-eye"></i>
              <span>{{data.view | number: '1.0-0'}} Views</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="featured list-item">
  <div class="container">
    <div>
      <div class="section-title text-center">
        <h1>Featured Items</h1>
        <p>High-Quality Source Codes &amp; Graphic Assets!</p>
      </div>
      <ul class="row list-item">
        <li class="col-md-4" fxLayout="row" *ngFor="let item of tops">
          <div class="item">
            <div class="item-image">
              <img src="{{url}}/{{item.banner}}" (click)=" detail(item.code)">
              <div class="item-label">
                <span class="item-badge android" *ngIf="item.is_android"></span>
                <span class="item-badge unity" *ngIf="item.is_unity"></span>
                <span class="item-badge admob" *ngIf="item.is_admob"></span>
              </div>
            </div>
            <div class="item-info">
              <h3>{{ item.name }}</h3>
            </div>
            <div class="item-action">
              <a (click)=" detail(item.code)" class="button button-red item-button">${{item.price}}</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>